.about-container {
    padding: 1px;     /* 容器內邊距 */
    display: flex;
    align-items: center;
}


.about-image {
    width: auto; /* 設定圖片寬度 */
    height: 300px; /* 保持圖片的比例 */
    border-radius: 50%; /* 圓形圖片 */
    margin: 0px 50px;

}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* 設定標題顏色 */
    margin-bottom: 15px; /* 標題下方的間距 */
}

.education {
    font-style: italic; 
    text-decoration: underline; 
    font-size: 14px;
}

.description {
    color: #333;
    font-size: 16px;
}


// 響應式設計: 手機 (最大 600px)
@media (max-width: 768px) {
    .about-container {
      flex-direction: column; /* 改為垂直排列 */
      justify-content: flex-start; /* 項目對齊容器的開始位置 */
    }
  
    .about-image {
      width: 200px; /* 改小圖片的寬度 */
      height: auto; /* 改小圖片的高度 */
      margin: 20px 0; /* 上下間距 */
    }
  
    .description {
      font-size: 14px; /* 調整描述的字體大小 */
    }
  }