.navbar h2 {
    margin: 0; /* 移除外部間距 */
    padding: 0; /* 移除內部間距 */
    font-size: 24px; /* 設定字體大小 */
    font-weight: bold; /* 設定字體加粗 */
    color: #333; /* 字體顏色 */
}

.navbar p{
    font-size: 14px;
    color: #6c6c6c;
    padding: 0;
    margin: 0;
}

// 響應式設計: 手機 (最大 600px)
@media (max-width: 768px) {
    .navbar h2 {
        font-size: 18px; /* 設定字體大小 */
      }
    
    .navbar p{
        font-size: 10px;
    }
}
