.projects-container {
    display: flex;
    gap: 100px;
    justify-content: center;

  }

.projects-title {
    text-align: center;
  }
  
  .project-card {
    width: 350px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .project-card .front,
  .project-card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s; //反轉秒數
  }
  
  .project-card .front {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-card .front img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .project-card .front h3 {
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }
  
  .project-card .back {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    box-sizing: border-box; /* 確保 padding 不會改變元素的總大小 */
    margin: 2px, 0px;
  }
  
  .project-card .back h3 {
    font-size: 18px;
    margin: 12px,0px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .project-card .back p {
    height: 110px;
    font-size: 14px;
    color: #333;
    margin: 8px 0px;
  }
  
  .project-card .back .tools {
    font-size: 14px;
    color: #555;
    height: 40px;
  }
  
  .project-card .back .date {
    font-size: 14px;
    color: #777;
    height: 20px;
  }
  
  .project-card .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .project-card .button {
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .project-card .button:hover {
    background-color: #0056b3;
  }
  
  .project-card.flipped .front {
    transform: rotateY(180deg);
  }
  
  .project-card.flipped .back {
    transform: rotateY(0);
  }
  

  // 響應式設置：當螢幕寬度小於 768px 時
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;  /* 讓圖片和文字垂直排列 */
        align-items: center;  /* 居中顯示 */
        padding: 20px;  /* 增加內邊距 */
    }
}