// 引入樣式文件和字型
@use './navbar' as *;
@use './home' as *;
@use './footer' as *;
@use './about' as *;
@use './projects' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* 全局樣式 */
body {
  font-family: "Poppins", serif;
  width: 100vw;
  overflow-x: hidden; // 禁止水平滾動
}

.container {
  margin: 0 auto; /* 使容器居中 */
  padding: 0px 50px;
  margin-top: 200px;
  padding-bottom: 80px; /* 確保內容不會被 Footer 遮擋 */
}

// 確保 main 內容不會被 Navbar 遮住
main {
  margin-top: 80px; // 避免內容與 Navbar 重疊
  margin: 0 40px;
}

// 各區塊樣式
.home-section,
.about-section,
.projects-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

// 讓 about 和 projects 預設隱藏
.fade-in-target {
  opacity: 0;
  transform: translateY(30px);
}

// 當滾動到該區塊時觸發動畫
.fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

/* @keyframes 動畫定義 */
@keyframes fade-in-up {
  0% {
    transform: translateY(30px); /* 初始狀態，元素在垂直方向上偏移 30px */
    opacity: 0; /* 初始狀態，元素完全透明 */
  }
  100% {
    transform: translateY(0); /* 最終狀態，元素恢復到原來的位置 */
    opacity: 1; /* 最終狀態，元素完全不透明 */
  }
}

// 自訂 V 形箭頭
.custom-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 3px solid #7e7e7e;
  border-bottom: 3px solid #7e7e7e;;
  transform: rotate(45deg);
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(45deg) scale(1.2);
    border-color: #d1d0d0;
  }
}

// Footer 設計
.footer {
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
