// 引入樣式文件和字型
@use './navbar' as *;
@use './home' as *;
@use './footer' as *;
@use './about' as *;
@use './projects' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* @keyframes 動畫定義 */
@keyframes fade-in-up {
    0% {
      transform: translateY(30px); /* 初始狀態，元素在垂直方向上偏移 30px */
      opacity: 0; /* 初始狀態，元素完全透明 */
    }
    100% {
      transform: translateY(0); /* 最終狀態，元素恢復到原來的位置 */
      opacity: 1; /* 最終狀態，元素完全不透明 */
    }
  }
  
  /* 全局樣式 */
  body {
    font-family: "Poppins", serif;
  }
  
  .container {
    margin: 0 auto;  /* 使容器居中 */
    padding: 0px 50px;
    margin-top: 200px;
    padding-bottom: 80px;  /* 確保內容不會被 Footer 遮擋 */
  }
  
  /* 固定 navbar 在頁面頂部 */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    padding: 5px 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* 各區塊的過渡效果 */
  .home-section, .about-section, .projects-section {
    position: relative;
    padding-bottom: 50px;  /* 留空間，避免箭頭壓到內容 */
    opacity: 0;  /* 初始隱形 */
    animation: fade-in-up 2s ease-out forwards; /* 應用動畫，並且確保動畫結束後元素保留最終狀態 */
  }
  
  /* 當區塊顯示時才應用顯示效果 */
  .show {
    opacity: 1;
  }
  
  /* 箭頭按鈕的樣式 */
  .arrow-btn {
    font-size: 50px;
    padding: 0px;
    border: none;
    color: #858585;
    cursor: pointer;
    border-radius: 20%;
    background-color: transparent;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow-btn:hover {
    color: rgb(213, 213, 213);
  }
  
  /* 控制顯示的區塊，使用 translateY 來隱藏和顯示 */
  .home-section.hide, .about-section.hide {
    transform: translateY(-100%);  /* 隱藏，移動到視窗外 */
  }
  
  /* 給每個區塊額外的樣式 */
  
  .about-section {
    margin-top: 20px;
  }
  
  