// 引入樣式文件和字型
@use './navbar' as *;
@use './home' as *;
@use './footer' as *;
@use './about' as *;
@use './projects' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/* 全局樣式 */
body {
  font-family: "Poppins", serif;
}

.container {
  margin: 0 auto; /* 使容器居中 */
  padding-bottom: 80px; /* 確保內容不會被 Footer 遮擋 */
  
}

// 確保 main 內容不會被 Navbar 遮住
main {
  margin-top: 80px; // 避免內容與 Navbar 重疊
  width: 100%;
  box-sizing: border-box;
}

/* 固定 navbar 在頁面頂部 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  padding: 5px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


// 各區塊樣式
.home-section,
.about-section,
.projects-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 0 40px;     /* 容器內邊距 */
}


// Footer 設計
.footer {
  width: 100%;
  background: #e8e7e7;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
}



.custom-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 3px solid #7e7e7e;
  border-bottom: 3px solid #7e7e7e;;
  transform: rotate(45deg);
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(45deg) scale(1.2);
    border-color: #d1d0d0;
  }
}